streamlit
langchain
langchain-community
langchain-core
langchain-classic
langchain-groq
langchain-huggingface
faiss-cpu
sentence-transformers
transformers
torch
torchvision
pypdf
python-dotenv
easyocr
pdf2image
numpy
Pillow
